language: julia
os:
  - linux
julia:
  - 0.7
  - 1.0
notifications:
  email: false
sudo: false

after_success:
  - julia -e 'cd(Pkg.dir("TimeSeries")); Pkg.add("Coverage"); using Coverage; Codecov.submit(process_folder())'

  # Documenter auto-deploy
  # following `using` instruction is for triggering precompilation
  - julia -e 'Pkg.add("Documenter")'
  - julia -e 'Pkg.add("MarketData")'
  - julia -e 'Pkg.add("Plots"); Pkg.add("PlotlyJS")'
  - julia -e 'using Plots; plotlyjs()'
  - julia -e 'cd(Pkg.dir("TimeSeries", "docs")); include("make.jl")'
